@import "../../styles/variables";
@import "../../styles/mixins";

.info-message {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: $bmo-granite;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;

    .info-message-header{
      font-family: $font-stack-bold;
    }
  }
