@import 'src/common/styles/variables';


.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mat-form-field {
  width: 100%;
}
.mat-calendar-body-selected {
  background-color: $bmo-blue;
}
