@import "src/common/styles/variables";
@import "src/common/styles/mixins";

@include base-component{}

:host ::ng-deep {
  margin-left: auto;
  margin-right: auto;
  .mat-form-field-label-wrapper {
    display: none;
  }

  .date-picker-component-container {
    position: relative;
    .date-picker-container {
      position: absolute;
      top: 88px;
      z-index: 10;
      width: 100%;
      height: auto;
    }
    .date-picker-input-label {
      position: absolute;
      z-index: 8;
      margin: 0;
      width: 100%;
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: $line-height-small;
      color: $bmo-blue;
      top: 35px;
      transform: translateZ(0.05px);
    }
    .date-picker-input-wrapper {
      display: flex;
      color: $bmo-albicant;
      .calendar-icon {
        margin-top: 1rem;
        margin-bottom: -5px;
        margin-left: -8px;
      }
    }
    .input-field-placeholders {
      pointer-events: none;
      display: flex;
      width: 100%;
      height: 38px;
      position: relative;
      bottom: -51px;
      margin-top: -30px;
      z-index: 1;
      color: $bmo-white;
      .placeholder-label {
        padding: 0;
        border: none;
        background: transparent;
        color: $bmo-blue;
        font-family: $heebo;
        font-size: $input-field-font-size;
        font-weight: 500;
        line-height: 24px;
        cursor: pointer;
        outline: none;
        transform: translateZ(0.05px);
      }
      .placeholder-value {
        color: $bmo-slate;
      }
    }
    .decade {
      .decade-back-button,
      .decade-next-button {
        outline: none;
      }
    }
    // input as a cursor pointer instead of text cursor
    bmo-ng-text-input .mat-input-element {
      cursor: pointer;
    }
  }
  .date-picker-focused {
      .mat-form-field {
        &:not(.fieldEmpty) .mat-form-field-underline {
          background-color: $bmo-granite;
        }
        &:not(.mat-form-field-invalid) {
          .mat-form-field-underline {
            background-color: $bmo-granite !important;
            .mat-form-field-ripple {
              animation: none !important;
              background-color: $bmo-granite !important;
            }
          }
        }
      }

  }

  .date-picker-filled {
    .mat-form-field {
      &:not(.fieldEmpty) .mat-form-field-underline {
        background-color: #929ba9;
      }
    }
  }

  .comma {
    font-size: 18px;
    margin-top: 6px;
    color: $bmo-slate;
  }
}
