<div class="step-container landing" id="password_container">
  <div class="form-wrapper" id="form_wrapper">
    <div class="step-section" id="step_section">
      <span class="step-copy" id="step_copy">{{getTranslations().KEY.CCREG.STEP.THREE | translate}}</span><br>
    </div>
    <div class="top-copy" id="top_copy">
      <h1 class="title" id="title" tabindex="-1">{{getTranslations().KEY.CCREG.PASSWORD.TITLE | translate}}</h1>
      <span class="copy" id="copy">{{getTranslations().KEY.CCREG.PASSWORD.COPY1 | translate}}</span>
      <span class="copy" id="copy_2">{{getTranslations().KEY.CCREG.PASSWORD.COPY2 | translate}}</span>
    </div>
    <form novalidate [formGroup]="passwordFormGroup" autocomplete="off"
          (ngSubmit)="submitPasswordForm($event)" class="step-form" id="step_form">
      <div class="inline-errors" *ngIf="errors?.length > 0">
        <div class="has-error" *ngFor="let error of errors">
          <img src="common/assets/images/delete.svg" id="delete_icon" alt="">
          {{getTranslations().KEY.CCREG.PASSWORD.API_ERROR | translate}}
        </div>
      </div>
      <div id="password" class="input-wrapper">
        <span class="for-screenreader" id="password_screenreader_text">
          {{getTranslations().KEY.CCREG.PASSWORD.COPY4 | translate}}
          <ul>
            <li>{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.MIN_LENGTH | translate}}</li>
            <li>{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.UPPERCASE_LOWERCASE | translate}}</li>
            <li>{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.ONE_NUMBER | translate}}</li>
            <li>{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.ONE_SPECIAL_CHARACTER | translate}}</li>
          </ul>
        </span>
        <span class="for-screenreader" id="password_confirmation_screenreader_text" aria-hidden="true">
          {{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.ERROR.REQUIRED | translate}}
        </span>
        <text-input matInput
                   [minLength]="getSelfRegFieldPasswordMin()"
                   [maxLength]="getSelfRegFieldPasswordMax()"
                   [parentFormGroup]="passwordFormGroup"
                   [inputType]="'password'"
                   [validators]="passwordValidation"
                   [validationErrors]="passwordValidationErrors"
                   [allowOnlyNumbers]="false"
                   [controlName]="controlName.password"
                   placeholder="{{getTranslations().KEY.CCREG.PASSWORD.NEW_PASS | translate}}"
                   (inputBlur)="handleOnBlur(controlName.password)"
                   (copy)="onCopy($event)"
                   (paste)="onPaste($event)"
                   (inputFocus)="handleFocus(controlName.password)"
                   (keyup)="handleKeyUp(controlName.password)">
        </text-input>
        <div class="validations-wrapper" *ngIf="showValidations">
          <h4
            [attr.aria-hidden]="passwordMeetsMandatoryRequirements()"
          >{{getTranslations().KEY.CCREG.PASSWORD.COPY4 | translate}}</h4>
          <mat-list>
            <mat-list-item attr.aria-hidden="{{passwordLengthValid}}">
              <img src="common/assets/images/check-mark.svg" alt="" *ngIf="passwordLengthValid">
              <img src="common/assets/images/close-red.svg" class="close-icon" alt="" *ngIf="!passwordLengthValid">
              <span class="validation-text" [class.red-text]="!passwordLengthValid">{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.MIN_LENGTH | translate}}</span>
            </mat-list-item>
            <mat-list-item attr.aria-hidden="{{passwordContainsUpperCaseLowerCase}}">
              <img src="common/assets/images/check-mark.svg" alt="" *ngIf="passwordContainsUpperCaseLowerCase">
              <img src="common/assets/images/close-red.svg" class="close-icon" alt="" *ngIf="!passwordContainsUpperCaseLowerCase">
              <span class="validation-text" [class.red-text]="!passwordContainsUpperCaseLowerCase">{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.UPPERCASE_LOWERCASE | translate}}</span>
            </mat-list-item>
            <mat-list-item attr.aria-hidden="{{passwordContainsNumber}}">
              <img src="common/assets/images/check-mark.svg" alt="" *ngIf="passwordContainsNumber">
              <img src="common/assets/images/close-red.svg" class="close-icon" alt="" *ngIf="!passwordContainsNumber">
              <span class="validation-text" [class.red-text]="!passwordContainsNumber">{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.ONE_NUMBER | translate}}</span>
            </mat-list-item>
            <mat-list-item attr.aria-hidden="{{passwordContainsSpecialChar}}">
              <img src="common/assets/images/check-mark.svg" alt="" *ngIf="passwordContainsSpecialChar">
              <img src="common/assets/images/close-red.svg" class="close-icon" alt="" *ngIf="!passwordContainsSpecialChar">
              <span class="validation-text" [class.red-text]="!passwordContainsSpecialChar">{{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.RULES.ONE_SPECIAL_CHARACTER | translate}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div id="password-confirmation" class="input-wrapper-2">
        <span class="for-screenreader" id="password_confirmation_screenreader_text" aria-hidden="true">
          {{getTranslations().KEY.CCREG.PASSWORD.VALIDATION.ERROR.REQUIRED | translate}}
        </span>
        <text-input matInput
                    [minLength]="getSelfRegFieldPasswordMin()"
                    [maxLength]="getSelfRegFieldPasswordMax()"
                    [parentFormGroup]="passwordFormGroup"
                    [parentFormGroupValidators]="passwordFormGroupValidation"
                    [inputType]="'password'"
                    [allowOnlyNumbers]="false"
                    [validators]="passwordConfirmationValidation"
                    [validationErrors]="passwordConfirmationValidationErrors"
                    [controlName]="controlName.password_confirmation"
                    placeholder="{{getTranslations().KEY.CCREG.PASSWORD.CONFIRM | translate}}"
                    (inputBlur)="handleOnBlur(controlName.password_confirmation)"
                    (onCopy)="onCopy($event)"
                    (onPaste)="onPaste($event)"
                    >
        </text-input>
      </div>
      <div class="mdl-card__actions">
        <span class="button-wrapper margin-top-40" id="button_wrapper">
          <app-round-button class="next-button" [enabled]="true"
                            [disabled]="loading"
                            [buttonId]="'next_button'"
                            attr.data-ana="{{getTranslations().KEY.CCREG.BUTTON.CANCEL | translate | lowercase}}"
                            [type]="'submit'" [fullTransparent]="false">
            <span *ngIf="!loading">{{getTranslations().KEY.CCREG.BUTTON.NEXT | translate}}</span>
            <mat-progress-spinner color="white" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
          </app-round-button>
        </span>
      </div>
    </form>
    <div class="xl-spacer visible-sm"></div>
  </div>
  <div class="right-img mt-40" id="right_image">
    <img src="common/assets/images/password-phone-lock.png" *ngIf="width > 480" id="desktop_img" alt="">
    <img src="common/assets/images/lock.png" *ngIf="width <= 480" id="mobile_img" alt="">
  </div>
</div>

