@import 'src/common/styles/variables';

.validations-wrapper {

  h4 {
    font-size: 12px;
    font-family: $heebomedium, serif;
    font-weight: 500;
    line-height: 2.0;
    letter-spacing: 0.2px;
    color: $bmo-slate;
    margin-bottom: 0;
    -webkit-margin-after: 0;
  }

  .mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    height: 18px;
    font-size: 12px;
    padding: 0;
    margin-bottom: 4px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: $bmo-granite;
    font-family: 'Heebo', serif;

    @media all and (max-width: 480px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      height: 28px;
      line-height: 1.3;
      margin-bottom: 6px;
    }

    span.validation-text {
      margin-top: 2px;
    }

    img {
      padding: 0 5px 0 0;

      &.close-icon {
        padding-right: 7px;
      }
    }

    .red-text {
      color: $bmo-negative;
      margin-top: 0;
    }
  }
}

.top-copy {
  position: relative;

  #copy_2 {
    .info-button-wrapper {
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
      margin-left: -8px;
    }
    img {
      vertical-align: middle;
    }
  }
}

.info-box {
  position: absolute;
  padding: 32px 24px;
  width: 366px;
  height: 182px;
  z-index: 9;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 25, 40, 0.07), 0 0 2px 0 rgba(0, 25, 40, 0.21);
  border: 0.5px solid;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.06));
  border-image-slice: 1;

  @media all and (min-width: 481px) {
    &:before {
      position: absolute;
      top: -11px;
      right: 255px;
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      z-index: 2;
    }
    &:after {
      position: absolute;
      top: -13px;
      right: 253px;
      content: '';
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid rgba(0, 0, 0, 0.09);
      z-index: 1;
    }
  }

  @media all and (min-width: 769px) {
    &:before {
      right: 237px;
    }

    &:after {
      right: 235px;
    }
  }

  @media all and (max-width: 480px) {
    bottom: -194px;
    width: auto;
    height: 140px;
  }

  &.password-tooltip-fr {
    top: 252px;
    &:before {
      right: 304px;
    }
    &:after {
      right: 302px;
    }

    @media all and (min-width: 454px) and (max-width: 768px) {
      top: 205px;
      &:before {
        right: 73px;
      }
      &:after {
        right: 71px;
      }
    }

    @media all and (max-width: 480px) {
      .tooltip-title {
        font-size: 12px;
      }
      height: 168px;
      bottom: -224px;
    }
    @media all and (min-width: 390px) and (max-width: 453px) {
      top: 230px;
    }

    @media all and (min-width: 320px) and (max-width: 389px) {
      top: 272px;
      height: 172px;
    }
  }

  &.password-tooltip-en {
    top: 225px;
    &:before {
      right: 236px;
    }
    &:after {
      right: 234px;
    }

    @media all and (min-width: 481px) and (max-width: 768px) {
      top: 184px;
      &:before {
        right: 254px;
      }
      &:after {
        right: 252px;
      }
    }

    @media all and (min-width: 433px) and (max-width: 480px){
      top: 185px;
    }

    @media all and (max-width: 480px) {
    .tooltip-title {
      font-size: 12px;
    }
    height: 168px;
    bottom: -224px;
    }
  }

  .close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 16px;
    height: 16px;
    &:focus {
      border: 1px solid #85BFFD;
    }
  }

  .tooltip-title {
    @media all and (max-width: 480px) {
      font-size: 12px;
    }
  }

  .number-guide {
    letter-spacing: 0.3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;

    .number-item {
      flex-basis: 25%;
      margin-top: 32px;

      @media all and (max-width: 480px) {
        font-size: 12px;
        letter-spacing: -0.5px;
        margin-top: 15px;
      }
    }
  }

  img.cheque-img {
    @media all and (max-width: 480px) {
      width: 265px;
    }
  }

}

.not-valid .ng-touched {
  .mat-input-underline {
    border-color: $bmo-negative !important;
    border-top-width: 2px;
  }
}

#password_container .mat-list-item {
  height: auto!important;
}

#password_container .input-wrapper {
  position: relative;
  margin-bottom: 62px;
}

#password_container .step-form {
  margin-top: 25px;
}

#password_container .mdl-card__actions {
  margin-top: 63px;
}

#password_container .mat-form-field-infix {
  border-top: 0px;
}
